In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("homicidios.csv")

df.head(5)

,Regiao,Cidade,Mes,Ano,Total Crimes,Latitude,Longitude,populacao
0,Capital,São Paulo,Jan,2019,55.0,-23.533773,-46.62529,11509115.0
1,Capital,São Paulo,Fev,2019,48.0,-23.533773,-46.62529,11509115.0
2,Capital,São Paulo,Mar,2019,75.0,-23.533773,-46.62529,11509115.0
3,Capital,São Paulo,Abr,2019,59.0,-23.533773,-46.62529,11509115.0
4,Capital,São Paulo,Mai,2019,45.0,-23.533773,-46.62529,11509115.0

In [13]:
# Renomeando colunas
df.columns = df.columns.str.lower()
df = df.rename(columns={"total crimes": "crimes"})

In [11]:
mes_ordem = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dec']
df['mes'] = pd.Categorical(df['mes'], categories=mes_ordem, ordered=True)

In [14]:
import altair as alt

chart = alt.Chart(df).mark_bar().encode(
    x=alt.X('mes:N', title='Mes', sort=mes_ordem),
    y=alt.Y('sum(crimes):Q', title='Número de Crimes'),
    color=alt.Color('ano:O', title='Ano'),
    tooltip=['ano:O', 'mes:N', 'sum(crimes):Q']
).properties(
    title='Número de crimes para cada mês',
    width=600,
    height=400
)

chart

MaxRowsError: The number of rows in your dataset is greater than the maximum allowed (5000).

Try enabling the VegaFusion data transformer which raises this limit by pre-evaluating data
transformations in Python.
    >> import altair as alt
    >> alt.data_transformers.enable("vegafusion")

Or, see https://altair-viz.github.io/user_guide/large_datasets.html for additional information
on how to plot large datasets.

alt.Chart(...)

Gráfico com a media para cada mes

Gráfico de barras acumuladas

Gráfico de box-plot